body{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.app{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
  /* border: 2px solid black; */
  
}

h1{
  color: yellow;
}

button{
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 5px;
  border-radius: 10px;
  width: 100px;
  font-size: 15px;
  font-weight: 700;
  height: 40px;
}

input{
  padding: 10px;
  margin-right: 10px;
  font-size: 15px;
  font-weight: 700;
  background-color: white;
  color:black
}

button:hover{
  cursor: pointer;
}

