body{
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.app{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
  /* border: 2px solid black; */
  
}

h3{
  color: yellow;
}

